[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LCMSQA"]
	path = LCMSQA
	url = https://github.com/cran/LCMSQA
[submodule "pargasite"]
	path = pargasite
	url = https://github.com/cran/pargasite
